* {
    box-sizing: border-box; /*include the padding and border in an element's total width and height */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style for the header with navigation bar */
header {
    width: 100%;
    background-color: black;
    overflow: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
}

.logo img {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    height: 30px;
    width: auto;
}

header h3 {
    position: absolute;
    color: white;
    margin-left: 55px;
    margin-right: 500px;

}

header ul {
    padding: 0;
    margin: 0 0 0 180px;
    list-style: none;
}

header li {
    float: left;
}

nav a {
    width: 120px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    background: grey;
    transition: 0.5s;
}

nav a.current {
  color: #fba92c;
}


/* Style for the main */
main {
    margin-top: 58px; /* ensures main starts below navigation bar */
}


/* Statistics */
/* Style for the top actors section */
#topActors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto; 
    align-items: flex-start; /* Align the actor containers at the top of the flex container */

  }
  
  /* Style for the individual actor containers */
  /* Style for the top actors section */
#topActors {
    /* Make the actor containers display in a flexbox, wrapping onto new lines when necessary */
    display: flex;
    flex-wrap: wrap;
    /* Set the space between the actor containers to be evenly distributed along the main axis */
    justify-content: space-between;
    /* Set the maximum width of the section to be 600px */
    max-width: 300px;
    /* Center the section horizontally within its container */
    margin: 0 auto;
    /* Align the actor containers at the top of the flex container */
    align-items: flex-start;
  }
  
  /* Style for the individual actor containers */
  .actor-container {
    /* Set the width of each actor container to be 30% of its parent's width */
    width: 30%;
    /* Add a margin at the bottom of each actor container to create some space between them */
    margin-bottom: 10px;
    /* Set a fixed height for the actor container */
    height: 180px;
    /* Clip any content that overflows beyond the fixed height of the container */
    overflow: hidden;
    /* Make the container a flex container, with elements stacked vertically */
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the actor images */
  .actorImg {
    /* Make the image fill the width of its container */
    display: block;
    width: 100%;
    /* Allow the image to scale vertically to maintain its aspect ratio */
    height: auto;
  }
  
  /* Style for the actor names */
  .actorName {
    /* Add a bit of space between the actor image and the actor name */
    margin-top: 5px;
    /* Make the font size of the actor name smaller */
    font-size: 0.8em;
    height: 20px;
    /* Make the actor name bold */
    font-weight: bold;
  }
  
  /* Style for the actor counts */
  .actorCount {
    /* Add a bit of space between the actor name and the actor count */
    margin-top: 2px;
    /* Make the font size of the actor count smaller */
    font-size: 0.7em;
    /* Make the color of the actor count a darker gray */
    color: #666;
  }
  

  #row1 {
    display: flex;
  }

/* #years {
    width: 200px;
} */
#test {
    width: 600px;
    padding: 50px;
}


/* Gallery */
.gallery {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 16px;

}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;

    
  }

.gallery::after {
    content: "";
    width: 350px;
}

.row {
    display: flex;
  }


  #filter_idea {
    padding: 15px;
    font-size: 24px;
    margin-left: 20px;
  }